extends /views/layout
include /views/mixins/navbar

block title
  title Volunteer Events

block append scripts
  script(src='/javascripts/event/list.js')

block append stylesheets
  link(rel='stylesheet', href='/stylesheets/event.css')

block content
    +navbar
    .horizontal.centered.box#contentBox
        h1 Volunteer Events
        .ui.container
            .ui.styled.fluid.accordion
                .title.active
                    i.dropdown.icon
                    span Pending Invitations
                    //- span.ui.label #{online_users.length}
                .content.active
                .title
                    i.dropdown.icon
                    span My Events
                .content
                    .ui.top.attached.tabular.menu
                        .item(data-tab='past') Past
                        .item.active(data-tab='upcoming') Upcoming
                        .item(data-tab='canceled') Canceled
                    .ui.bottom.attached.tab.segment(data-tab='past')
                        for event in myPastEvents
                            a.ui.card(href=`/events/${event._id}`)
                                .content
                                    .header #{event.title}
                                    .meta Start Time: #{event.startDateTime.toLocaleString()}
                                    .meta End Time: #{event.endDateTime.toLocaleString()}
                                    - const role = event.organizer.equals(user._id) ? 'Organizer' : 'Participant'
                                    .description Role: #{role}
                    .ui.bottom.attached.tab.segment.active(data-tab='upcoming')
                        for event in myEvents
                            a.ui.card(href=`/events/${event._id}`)
                                .content
                                    .header #{event.title}
                                    .meta Start Time: #{event.startDateTime.toLocaleString()}
                                    .meta End Time: #{event.endDateTime.toLocaleString()}
                                    - const role = event.organizer.equals(user._id) ? 'Organizer' : 'Participant'
                                    .description Role: #{role}
                    .ui.bottom.attached.tab.segment(data-tab='canceled')
                        for event in myCanceledEvents
                            a.ui.card(href=`/events/${event._id}`)
                                .content
                                    .header #{event.title}
                                    .meta Start Time: #{event.startDateTime.toLocaleString()}
                                    .meta End Time: #{event.endDateTime.toLocaleString()}
                                    - const role = event.organizer.equals(user._id) ? 'Organizer' : 'Participant'
                                    .description Role: #{role}
                .title
                    i.dropdown.icon
                    span Available Events
                .content
                    for event in availableEvents
                        a.ui.fluid.card(href=`/events/${event._id}`)
                            .content
                                .header #{event.title}
                                .meta Start Time: #{event.startDateTime.toLocaleString()}
                                .meta End Time: #{event.endDateTime.toLocaleString()}

            a.ui.fluid.basic.green.button(href='/events/create') Create Event           
